<div class="grid p-3 surface-100 border-round shadow-2">
  <div class="col-12 md:col-6 mb-3">
    <label class="text-sm font-medium text-500 block mb-1">Name</label>
    <div class="text-lg font-semibold text-900">
      {{ doctor()?.name }}
    </div>
  </div>
  <div class="col-12 md:col-6 mb-3">
    <label class="text-sm font-medium text-500 block mb-1"
      >Specialization</label
    >
    <div class="text-lg font-semibold text-900">
      {{ doctor()?.specialization }}
    </div>
  </div>
  <div class="col-12 md:col-6 mb-3">
    <label class="text-sm font-medium text-500 block mb-1">Contact</label>
    <div class="text-lg font-semibold text-900">
      {{ doctor()?.contact }}
    </div>
  </div>
  <div class="col-12 md:col-6 mb-3">
    <label class="text-sm font-medium text-500 block mb-1">Status</label>
    <div class="text-lg font-semibold text-900">
      <p-tag
        [severity]="fs.getSeverity(doctor()?.available)"
        [icon]="fs.getTagIcon(doctor()?.available)"
        [value]="fs.getTagValue(doctor()?.available)"
      />
    </div>
  </div>
</div>
