<div class="grid grid-nogutter surface-section text-800 h-full">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-6xl font-bold mb-1">DocZone</span>
      <div class="text-6xl text-primary font-bold mb-3">
        Smarter Healthcare, Seamless Management
      </div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Easily manage doctor profiles, availability, and appointments — all from
        one powerful platform designed for clinics and hospitals.
      </p>

      <button
        pButton
        pRipple
        label="Go to panel"
        type="button"
        class="mr-3 p-button-raised"
        (click)="onExplore()"
      ></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="../../../../../assets/images/docor.png"
      alt="Image"
      class="w-full h-full md:h-full md:ml-auto block"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
