<div class="flex align-items-center justify-content-center h-full">
  <div class="text-center surface-card p-6 shadow-2 border-round-lg">
    <img
      src="../../../../assets/svg/Unauthorized.svg"
      alt="Unauthorized"
      class="w-10rem mb-3"
    />

    <h1 class="text-3xl font-bold text-red-500 mb-2">Unauthorized Access</h1>
    <p class="text-lg text-gray-600">
      You do not have permission to view this page.
    </p>

    <p-button label="Go to Home" class="mt-4" (click)="goToHome()"></p-button>
  </div>
</div>
