.not-found-container {
  height: 100vh;
  background-color: #f4f4f4;
}

p-card {
  width: 400px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #424242;
}

p {
  font-size: 1.2rem;
  color: #757575;
}
